<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>EventApp</title>
</head>
<body>
<h1>Cadastro de Evento</h1>
<form method="post">
    Nome <input type="text" value="" name="nome">
    Local <input type="text" value="" name="local">
    Data <input type="text" value="" name="data">
    Hora <input type="text" value="" name="hora">

    <button type="submit">Salvar</button>

</form>

</body>
</html>